body {
    margin: 0;
    padding: 0;
}

.m-right {
    margin-right: -105px !important;
}

footer {
    width: 100%;
    height: 60px
}

footer p {
    line-height: 45px;
}

.container-custom {
    width: 98%;
}

.p-custom {
    padding: 10px;
}

/* Mengatur ukuran pada input qty */
.input-qty {
    width: 50px;
}

caption {
    font-weight: bold;
}

table {
    display: none;
}